.posts-top-title {
  text-align: center;
  color: white;
  margin: 3rem 0;
}
.posts-top-title h1 {
  font-size: 3rem;
}
.posts-top-title p {
  margin-top: 3rem;
}
header {
  color: white;
}
.posts-return {
  border-radius: 20px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
}
.posts-parent {
  width: 30%;
  padding: 3rem 10%;
}
.post-date {
  margin: 1rem 0;
}
.post-title {
  margin: 1rem 0;
}
.post-link {
  margin: 1rem 0;
}
.post-link a {
  text-decoration: none;
  color: rgb(192, 157, 224);
}
.Posts-header {
  display: flex;
  flex-flow: row wrap;
}

@media screen and (max-width: 767px) {
  .posts-parent {
    width: 80%;
    padding: 3rem 10%;
  }
}
